<nav style='text-align: center'>
  <%=link_to 'Storna główna', '#', class: 'home_button' %>
  <%=link_to 'Galeria', '#', class: 'nav' %>
  <%=link_to 'Blog', '#', class: 'nav' %>
  <%=link_to 'Sklep'      , '#', class: 'nav' %>
  <%=link_to 'Nowości'    , '#', class: 'nav' %>
  <%=link_to 'o Nas'  , '#', class: 'nav' %>
  <%=link_to 'Zaloguj się'         , '#', class: 'nav' %>
  <%=link_to 'Zarejestruj się'      , '#', class: 'log_out', method: :post %>
</nav>